@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	font-optical-sizing: auto;
	src: url("/fonts/inter.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

html {
	--page-background-color: #ffffff;
	--page-foreground-color: #000000;
	--edge-color: #c0c0c0;

	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--page-foreground-color);
	background: var(--page-background-color);
}

html.dark {
	--page-background-color: #202020;
	--page-foreground-color: #e0e0e0;
	--edge-color: #404040;
}

::selection {
	color: var(--page-background-color);
	background: var(--page-foreground-color);
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

p {
	line-height: 1.6rem;
}

a {
	color: inherit;
	text-underline-offset: 2px;
}

.row {
	border-bottom: 1px solid var(--edge-color);
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr minmax(320px, 740px) 1fr;
}

.row.final {
	border-bottom: none;
}

.min {
	grid-column: 1;
}

.mid {
	padding: 0 20px;
	border-left: 1px solid var(--edge-color);
	border-right: 1px solid var(--edge-color);
	grid-column: 2;
	box-sizing: border-box;
}

.max {
	grid-column: 3;
}

.flex-x {
	display: flex;
	flex-direction: row;
}

.flex-y {
	display: flex;
	flex-direction: column;
}

.flex-y.end-y {
	justify-content: flex-end;
}

.navigation {
	height: 40px;
	padding-right: 0;
}

.navigation a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.header {
	height: 300px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.header h1 {
	font-size: 2.6rem;
	font-weight: 320;
}

.header em {
	font-style: normal;
}

.article {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.article header h1 {
	font-size: 1.8rem;
	font-weight: 400;
}

.footer {
	height: 800px;
}

.quote {
	padding: 20px;
	display: block;
	font-style: italic;
}

.quote-link {
	margin-left: 20px;
}

.space {
	flex: 1;
}

.icon {
	height: inherit;
	aspect-ratio: 1;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}

.icon.color-scheme {
	background-image: url("/icons/dark-mode.svg");
}

.dark .icon.color-scheme {
	background-image: url("/icons/light-mode.svg");
}

.control {
	cursor: pointer;
}
