html {
    --color-edge: #c0c0c0;
    --color-page-background: #ffffff;
    --color-page-foreground: #000000;
    --color-primary: #d71282;
    --space-1: 10px;
    --space-2: calc(var(--space-1) * 2);
    --space-3: calc(var(--space-1) * 3);
    --space-4: calc(var(--space-1) * 4);
    --space-5: calc(var(--space-1) * 8);

    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: var(--color-page-foreground);
    background: var(--color-page-background);
}

body,
dl,
dt,
dd,
h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-size: 2.4rem;
    font-weight: 350;
}

h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

p {
    line-height: 1.6rem;
}

dd {
    margin-top: var(--space-1);
    margin-left: var(--space-2);
}

dd + dt {
    margin-top: var(--space-2);
}

a {
    color: inherit;
    text-underline-offset: 2px;
}

a.with-icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

a.with-icon svg {
    fill: var(--color-primary);
    width: 20px;
    height: 20px;
}

blockquote {
    margin: 0;
    padding: var(--space-2);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

blockquote p {
    font-style: italic;
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
    max-width: calc(738px / 2);
}

.row {
    border-bottom: 1px solid var(--color-edge);
    display: grid;
    grid-template-columns: 1fr minmax(300px, 800px) 1fr;
    grid-template-rows: 1fr;
}

.row.no-border {
    border-bottom: none;
}

.col-min {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

.col-min.edge {
    padding: var(--space-2);
    align-items: flex-end;
    display: none;
}

.col-min.edge svg {
    fill: var(--color-primary);
    width: 48px;
    height: 48px;
}

.col-min.edge.smaller {
    padding: var(--space-3);
}

.col-min.edge.smaller svg {
    width: 32px;
    height: 32px;
    transform: translateX(4px) translateY(-4px);
}

.col-mid {
    grid-column: 2;
    grid-row: 1;
    padding: var(--space-3);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.col-mid.page-header {
    height: 240px;
    border-right-color: transparent;
    justify-content: flex-end;
    gap: unset;
}

.col-mid.page-navigation {
    height: 50px;
    padding: 0 var(--space-3);
    flex-direction: row;
    gap: var(--space-1);
}

.col-mid.page-navigation a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-mid.page-navigation-external {
    border-left-color: transparent;
    justify-content: flex-end;
}

.col-mid.page-footer {
    padding-bottom: var(--space-5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--space-3);
    font-size: 0.9rem;
}

.col-mid.page-footer > div {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.col-mid-max {
    grid-column: 2 / 4;
    grid-row: 1;
    box-sizing: border-box;
}

.col-mid-max.background {
    z-index: -1;
}

.col-mid-max.background canvas {
    background-color: var(--color-page-background);
}

.col-max {
    grid-column: 3;
    grid-row: 1;
}

@media screen and (min-width: 800px) {
    .col-mid {
        border-left: 1px solid var(--color-edge);
        border-right: 1px solid var(--color-edge);
    }

    .col-mid.page-navigation {
        gap: var(--space-3);
    }

    .col-mid.page-footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .col-min.edge {
        display: flex;
    }
}
